body {
    background-color: #778da9;
}


.gameboard-grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: auto;
    margin-top: 30vh;
    background-color: #fdf0d5;
    width: 350px;
    height: 350px;
    border: 4px solid black;

}


.gameboard-grid-cell {
    border: 1px solid black;
}


.gameboard-grid-cell:hover {
    transition: 400ms;
    background-color: #d5ccba;
    cursor: pointer;
}